:root {
    --dark-bg:#1f2937;
    --dark-color:#f9faf8;
    --light-blue:#3882F6;
    --light-bg:#e5e7eb;
    font-size:18px;
    --section-padding:100px 20%;
    --alt-section-padding:100px 25%;
}

body {
    color:var(--dark-bg);
    font-family:Arial, Helvetica, sans-serif;
}
section {
    padding:var(--section-padding);
}
header {
    background-color:var(--dark-bg);
    color:var(--dark-color);
    padding:5px 20%;
    display:flex;
    flex-direction: row;
    align-items:center;
}
header p {
    color:var(--dark-color);
    width:30%;
    font-size:24px;
    font-weight:bold;
}
header nav a {
    color:var(--dark-color);
    text-decoration:none;
    font-size:18px;
    margin-left:20px;
    transition:all .2s;
}
nav {
    flex-grow:1;
    text-align:right;
}
nav a:hover {
    text-decoration:underline;
}
footer {
    background-color:var(--dark-bg);
    color:var(--dark-color);
    text-align:center;
    padding:50px;
}
#hero {
    background-color:var(--dark-bg);
    color:var(--dark-color);
    display:flex;
    flex-direction: row;
    align-items:center;
}
#hero_left,
#hero_right {
    width:50%;
}
#hero_left {
    padding-right:20px;
}
#hero img {
    width:100%;
}
h1 {
    font-weight:900;
    font-size:48px;
    margin:0;
}
#hero p {
    font-size:18px;
    color:var(--light-bg);
}
#hero button {
    background-color:var(--light-blue);
    color:var(--dark-color);
    border-radius:5px;
    border:none;
    padding:5px 20px;
    font-size:18px;
    cursor:pointer;
    transition:all .2s;
}
#hero button:hover {
    background-color:#3882F6C4;
}
#random_info {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding:var(--alt-section-padding);
}
#random_info > h2 {
    flex:100%;
    text-align:center;
    font-size:36px;
    font-weight:900;
}
#random_info > div {
    flex:1 1 21%;
    margin:15px;
    text-align:center;
}
#random_info img {
    width:100%;
    border-radius:10px;
    border:solid 4px var(--light-blue);
    transform:scale(.95);
    transition:all .2s;
}
#random_info > div:hover > img {
    transform:scale(1);
}
#random_info p {
    margin:0;
}
#quote {
    background-color:var(--light-bg);
    padding:var(--alt-section-padding);
}
#quote #copy {
    font-size:36px;
    font-weight:lighter;
    font-style:italic;
}
#quote #source {
    font-weight:bold;
    text-align:right;
    font-size:24px;
}
#cta {
    background-color:var(--light-blue);
    border-radius:10px;
    color:var(--dark-color);
    padding:50px 100px;
    display:flex;
    flex-direction: row;
    align-items:center;
}
#cta > * {
    flex:50 auto;
}
#cta p, #cta h3 {
    margin:0;
}
#cta h3 {
    font-size:24px;
    font-weight:800;
}
#cta_btn {
    text-align:center;
}
#cta button {
    padding:5px 25px;
    background-color:transparent;
    border:var(--dark-color) 2px solid;
    border-radius:10px;
    color:var(--dark-color);
    font-weight:bold;
    font-size:18px;
    cursor:pointer;
    transition:all .2s;
}
#cta button:hover {
    background-color:var(--dark-color);
    color:var(--light-blue);
}